input {
  border: 1px solid rgb(139, 141, 146);
  border-radius: 2px/2px;
  width: 200px;
  margin: 10px;
}
body {
  font-family: sans-serif;
  text-align: center;
  font-size: 1rem;
}
form {
  display: inline-block;
  text-align: end;
}
