body {
  width: 100%;
  font-family: sans-serif;
  text-align: center;
}
section {
  text-align: center;
}
.mainDiv {
  /* border: 2px solid black; */
  width: 16%;
  height: 450px;
  display: inline-block;
  margin: 1%;
}

.firstDiv {
  /* border: 2px solid black; */
  height: 70%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.picOne {
  background-image: url(./pics/image1.png);
}
.picTwo {
  background-image: url(./pics/image2.png);
}
.picThree {
  background-image: url(./pics/image3.png);
}
.picFour {
  background-image: url(./pics/image4.png);
}
.secondDiv {
  width: 99%;
  height: 29%;
  /* border: 2px solid black; */
  position: relative;
}
.name,
.price,
.button {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  display: inline-block;
  width: 80%;
}
.name {
  top: 14%;
}
.price {
  top: 24%;
}

.fontOne {
  color: rgb(22, 160, 133);
  font-size: 1.2rem;
  margin-right: 2%;
}
.fontTwo {
  text-decoration: line-through;
  margin-left: 2%;
  color: rgb(139, 141, 146);
}
.button {
  bottom: 0;
  width: 65%;
  border: 2px solid rgb(139, 141, 146);
  color: rgb(139, 141, 146);
  padding: 3%;
  border-radius: 5px/5px;
  transition: all 1s;
}
.button:hover {
  scale: 1.1;
  cursor: pointer;
  border: 2px solid rgb(22, 160, 133);
  background-color: rgb(22, 160, 133);
  color: white;
}
.greenCircle,
.redCircle {
  cursor: default;
  position: absolute;
  display: inline-block;
  color: white;
  border-radius: 50%;
  padding: 1%;
  width: 13px;
  height: 13px;
  padding: 1em;
  line-height: 15px;
  font-size: 70%;
  font-weight: bold;
  top: 5%;
}
.greenCircle {
  border: 1px solid rgb(22, 160, 133);
  background-color: rgb(22, 160, 133);
  left: 5%;
}
.inGreen {
  text-align: center;
  margin-left: -50%;
}
.redCircle {
  border: 1px solid rgb(215, 41, 42);
  background-color: rgb(215, 41, 42);
  right: 5%;
}
.inRed {
  text-align: center;
  margin-left: -40%;
}
.hidden {
  display: none;
}

.firstDiv:hover .hidden {
  display: inline;
}
.addTo {
  background-color: black;
  display: inline;
  color: white;
  position: absolute;
  width: 50px;
  top: -60%;
  left: 60%;
  font-size: 0.8rem;
}
.icons {
  position: absolute;
  top: 50%;
  left: 10%;
  display: inline-flex;
}
i {
  cursor: pointer;
}

.fa-solid,
.fa-regular {
  background-color: white;
  width: 25px;
  height: 25px;
  font-size: 1rem;
  padding: 12%;
  margin: 8%;
  padding-bottom: 4%;
}
.fa-solid:hover,
.fa-regular:hover {
  background-color: rgb(22, 160, 133);
  color: white;
}

@media all and (max-width: 768px) {
  .mainDiv {
    display: block;
    width: 95%;
    height: 600px;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  .mainDiv {
    display: inline-block;
    width: 45%;
    height: 500px;
  }
}

@media all and (min-width: 992px) and (max-width: 1200) {
  .mainDiv {
    width: 18%;
    height: 480px;
    display: inline-block;
    margin: 1%;
  }
}
@media all and (min-width: 1200px) {
  .mainDiv {
    width: 13%;
    height: 450px;
    display: inline-block;
    margin: 1%;
  }
  section {
    display: inline;
  }
} ;
