body {
  background-image: url(Thor0.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Bebas Neue", cursive;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
header {
  margin-top: 7%;
  margin-left: 3%;
  font-family: fantasy;
  font-size: 2rem;
  opacity: 0.6;
  display: inline-flex;
  width: 30%;
}
main {
  font-family: "Bebas Neue", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Orbitron", sans-serif;
  line-height: 1.5rem;
  margin-top: 10%;
  font-size: 1.2rem;
  color: white;
}
p {
  margin-left: 3%;
  font-size: 2rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: azure;
}
nav {
  z-index: 0;
  background-color: rgb(27, 27, 27);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  margin: 0;
  height: 12%;
  height: 10%;
}

.img {
  position: fixed;
  z-index: 1;
  width: 7%;
  top: -2%;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  float: right;
  margin-top: -1%;
  margin-right: 6%;
}
a {
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}
footer {
  color: white;
  display: block;
}
img {
  width: 4%;

  margin: 1% 0 0 7%;
}
.center {
  text-align: center;
  font-size: 1.2rem;
}
.margin {
  margin: 0 1%;
}
@media all and (min-width: 600px) and (max-width: 768px) {
  header {
    margin-top: 15%;
    font-size: 35px;
    width: 60%;
  }
  nav {
    background-color: yellow;
    color: black;
  }
  body {
    background-size: cover;
  }
  .img {
    width: 13%;
  }
}
@media all and (max-width: 600px) {
  header {
    font-size: 35px;
    margin-top: 30%;
    width: 80%;
  }
  li {
    float: none;
  }
  .img {
    width: 15%;
    top: -2%;
    right: 4%;
  }
}
@media all and (min-width: 768px) and (max-width: 992px) {
  header {
    font-size: 25px;
    margin-top: 20%;
  }
  nav {
    background-color: lightgreen;
    color: black;
    height: 80px;
  }
  .img {
    top: -4%;
    width: 12%;
  }
}
@media all and (min-width: 992px) and (max-width: 1200px) {
  nav {
    background-color: red;
    color: white;
  }
  .img {
    width: 10%;
    top: -5%;
  }
}
@media all and (min-width: 1200px) {
  nav {
    background-color: black;
    color: white;
  }
  .img {
    top: -5%;
    width: 8%;
  }
}
