.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 5%;
}
td {
  border: 2px solid black;
}

#first {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  width: 90%;
  border: 2px solid red;
  color: red;
  text-align: center;
}
#second {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 2%;
}
.center {
  text-align: center;
}
.font {
  font-size: 0.8em;
}
.padding {
  padding: 1% 0;
}
img {
  width: 40%;
  border: 6px solid orange;
  margin-top: 5%;
}
a {
  color: blue;
}
