body {
  height: 100vh;
  margin: 0;
  background-color: rgb(176, 158, 153);
}
.genQoutes {
  margin: 2% 5%;
  background-color: rgb(216, 207, 204);
  height: 80vh;
  overflow: hidden;
}
.generateQuote {
  height: 7vh;
  width: 20vh;
  font-size: 1.2em;
  margin-left: 45%;
  margin-right: 45%;
  margin-top: 2%;
  background-color: rgb(100, 182, 172);
  border: 1px solid black;
  color: white;
  border: 5px solid rgb(93, 154, 242);
}
.placeQuote {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  color: rgb(108, 118, 129);
  margin-top: 2%;
  margin-left: 3%;
  margin-right: 3%;
}
.addQuote {
  margin-top: 10px;
  margin-left: 5%;
}
.setSetting {
  border: 2px solid white;
}

.set {
  margin: 0.5% 2% 0.5% 1%;
}
