body {
  margin: 0%;
  font-family: sans-serif;
}
.hidden {
  display: none;
}
.register {
  width: 20%;
  position: fixed;
  background-color: white;
  border: 1px solid black;
  border-radius: 0.2em/0.2em;
  text-align: end;
  right: 0;
  padding: 1% 1% 0 0;
}

.register input {
  border: 2px solid black;
}
.register form {
  display: block;
}
.hidden {
  display: none;
}
.margin {
  margin-top: auto;
  margin-bottom: auto;
}

#first {
  display: flex;
  justify-content: space-between;
  padding: 1% 5%;
  background-color: rgb(248, 249, 250);
}
.first,
#button,
#register,
#button1,
#exit {
  border: 1px solid rgb(0, 124, 255);
  background-color: rgb(0, 124, 255);
  color: white;
  padding: 3px 6px;
  border-radius: 0.2em / 0.2em;
  font-size: 1em;
}
#register {
  width: 25%;
  margin: 2%;
  margin-right: 15%;
}
#exit {
  border: 1px solid black;
  background-color: black;
  color: white;
  margin: 5% 20%;
}
#button {
  font-size: 0.8em;
  padding: 10px 20px;
  margin: 2px;
  width: 100%;
}
#button:hover,
#exit:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.5);
}
#button1 {
  margin-left: 0.5%;
  width: 20%;
}
#height {
  height: 40px;
  font-size: 20px;
}

#second {
  background-image: url("HorizontalPic.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  padding: 11% 15%;
}
/* .third,
.red {
  border: 2px solid red;
} */
main div {
  margin: 1%;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5%;
}
.white {
  color: white;
  text-align: center;
  font-size: 3rem;
}
.center {
  padding: 2% 5%;
}
form {
  display: flex;
  justify-content: center;
}

input {
  width: 50%;
  border: 0.01px solid white;
  border-radius: 0.2em / 0.2em;
  margin: 2px;
  margin-left: 7%;
}
#third {
  background-color: rgb(248, 249, 250);
  display: flex;
  justify-content: center;
  padding: 6% 10% 0.1%;
}
.third {
  width: 300px;
  height: 200px;
  margin: 3%;
  text-align: center;
  padding: 1%;
}

.third img {
  width: 20%;
  margin-top: 15%;
}

#third p {
  color: rgb(194, 196, 198);
}
@media all and (min-width: 300px) {
  .register {
    width: 40%;
    height: 15%;
    font-size: 10px;
  }
  #register {
    width: 30%;
  }
}
@media all and (min-width: 380px) and (max-width: 500px) {
  .register {
    width: 40%;
    height: 15%;
    font-size: 10px;
  }
  #register {
    width: 30%;
  }
}
@media all and (max-width: 768px) {
  .register {
    width: 38%;
    height: 15%;
    font-size: 10px;
  }
  #register {
    width: 30%;
  }
  #second {
    background-image: url("verticalPic.jpg");
    background-size: cover;
  }
  #third {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media all and (min-width: 768px) {
  .register {
    width: 40%;
    height: 20%;
    font-size: 1em;
  }
  #register {
    width: 30%;
  }
}
@media all and (min-width: 1024px) {
  .register {
    width: 20%;
    height: 20%;
    font-size: 14px;
  }

  #register {
    width: 35%;
  }
}

@media all and (min-width: 1280px) {
  .register {
    width: 20%;
    height: 21%;
    font-size: 1.2em;
  }

  #register {
    width: 35%;
  }
}
