body {
  margin: 0;
  background-color: rgb(53, 59, 109);
  font-family: sans-serif;
}
#form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 113, 255);
  height: 10vh;
  width: 100%;
  position: fixed;
}
form > #input {
  border: solid 1px white;
  border-radius: 5px/5px;
  overflow: hidden;
  height: 5vh;
  width: 40vh;
  font-size: 1.5em;
}
.search {
  width: 25px;
}
.weather {
  width: 40px;
}
.weatherList {
  padding-top: 20vh;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
#weatherList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.words {
  color: rgb(0, 203, 118);
  font-size: 2em;
}
.title {
  display: flex;
}
